.list-group-item {
  line-height: 2.5;
}

h1 {
  padding: 15px 0 0 0;
  text-align: center;
}

h3 {
  padding: 10px;
  font-style: italic;
}



/* body {
  background-image: url('../assets/disastersbg_2panel.jpg');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  } */

  #indexbg {
  background-image: url('../assets/disastersbg_2panel.jpg');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  }

#updatebg {
  background-image: url('../assets/Colorado_Wildfires-v2.JPG');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  }

#newbg  {
  background-image: url('../assets/Hurricane-Irma-2-v2.jpg');
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat;
  }

#checkon  {
  background-image: url('../assets/Sandy-storm-surge-v2.jpg');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  }

.logo {

  padding-top: 2vh;
  padding-bottom: 5px;
}

#helpbutton {
  border-color: black;
  font-size: 12px;
}

#container {
  text-align: center;
  padding: 15px 0;

}

.indexmaincontainer {
  width:38%;
  height: 100vh;
  background-color: white;
  
}



.newcheckcontainer {
padding-bottom: 20px;
}




#checkinButtons {
  display: inline-block;
}

#checkonButton {
  display: inline-block;
}

#checkIn {
  width: 400px;
  height: 80px;
  margin-bottom: 25px;
  }

  #update {
    width: 400px;
    height: 80px;
    margin-bottom: 25px;
    }

#checkOn {
  width: 400px;
  height: 80px;
  margin-bottom: 25px;

}

.bottom-buttons {
  height: 40px;
  background-color: #c0c0c0;
  margin-bottom: 10vh;
}

/* mouse over link */
.bottom-buttons:hover {
  background-color: gray;
  color: blue;
}
